@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    margin: 0px;
    padding: 0;
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #E1AFD1;
    border-radius: 30px;
    min-width: 500px;
    margin: 10px;
}


#profile {
    height: 145px;
    width: 150px;
    border-radius: 100%;
    object-fit: cover;
}

p, h1 {
    margin: 0;
}

.intro-container {
    background-color: #FFE6E6;
    border-radius: 22px;
    margin: 20px;
    padding: 40px;
    min-width: 375px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    grid-area: 1 /1/4/3 ;

}


.projects {
    background-color: #FFE6E6;
    border-radius: 22px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height:80px ;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    min-width: 240px;
}


.number {
    font-size: 4rem;
    font-weight: 900;
    color: #7469B6;
}
.item3{
    grid-area: 2/3/3/4;
}

.item4 {
    grid-area: 2/4/3/5;
}


#name {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    color: #7469B6;
}

#role {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
   
}

#company {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 26px;

}

#intro {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 26px;
    text-align: justify;
    color: #7469B6;
}



@media (min-width:319px) and (max-width: 480px) {

    
    main {
        padding: 10px;
        min-width: 480px;   
    }
    .container {
        display: grid;
        grid-template-rows: 1fr 1fr auto auto 1fr;
        grid-template-columns: 1fr 1fr;
        background-color: #E1AFD1;
        border-radius: 30px;
        min-width: 300px;
    }

    .intro-container {
        background-color: #FFE6E6;
        border-radius: 22px;
        margin: 20px;
        padding: 40px;
        min-width: 200px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        grid-area: 1/1/3/3 ;
    }


    #name {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    color: #7469B6;
    font-size: 24px;
}

#role {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 16px;
}

#company {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 22px;

}

#intro {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 20px;
    text-align: justify;
    color: #7469B6;
    max-width: 300px;
}


    .item1{
        grid-area: 3/1/4/2;
    }

    .item2 {
        grid-area: 3/2/4/3;
    }

    .item3{
        grid-area: 4/1/5/2;
    }

    .item4 {
        grid-area: 4/2/5/3;
    }


    .projects {
        padding: 10px;
        text-align: center;
        min-width: 140px;
        min-height: 140px;
    }

}

@media (max-width:319px) {
    * {
        display: none;
    }
}