.container {
    display: grid;
    /* grid-template-rows: 1.7fr 1.7fr 0.5fr 0.5fr; */
    /* grid-template-columns: 4fr 1.5fr 1.5fr; */
    grid-template-rows: 300px 300px 200px;
    grid-template-columns: 700px 300px 300px;
    background-color: #E1AFD1;
    border-radius: 30px;
    min-width: 405px;
    gap: 10px;
}

.intro-container {
    min-width: 410px;
    background-color: #FFE6E6;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    margin: 30px;
    grid-area: 1 / 1 / 4 /1;
}

#profile {
    height: 145px;
    width: 150px;
    border-radius: 100%;
}

p, h1 {
    margin: 0;
}

.projects {
    background-color: #FFE6E6;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 70px;
    align-items: center;
    margin: 30px;
}


