@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
	margin: 0;
	padding: 0;
}

@keyframes gradientAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	background: linear-gradient(45deg, #6a1b9a, #1a1a4b);
	border-radius: 30px;
	min-width: 500px;
	margin: 10px;
}

#profile {
	height: 145px;
	width: 150px;
	border-radius: 100%;
	object-fit: cover;
}

p,
h1 {
	margin: 0;
}

.intro-container {
	background-color: #ffffff;
	opacity: 0.7;
	transition: opacity 1s ease;
	border-radius: 22px;
	margin: 20px;
	padding: 40px;
	min-width: 350px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
	grid-area: 1 /1/5/6;
}

.intro-container:hover {
	opacity: 1;
}
.projects {
	background-color: #ffffff;
	opacity: 0.7;
	transition: opacity 1s ease;
	border-radius: 22px;
	margin: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 80px;
	font-family: "Nunito Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	min-width: 240px;
}

.projects:hover {
	opacity: 1;
}

.item1 {
	grid-area: 1/6/2/7;
}

.item2 {
	grid-area: 1/7/2/8;
}

.item3 {
	grid-area: 2/6/3/7;
}

.item4 {
	grid-area: 2/7/3/8;
}

.item5 {
	grid-area: 3/6/4/8;
	display: flex;
	flex-direction: row;
	gap: 90px;
}

.recent-project {
	background-color: #ffffff;
	opacity: 0.7;
	transition: opacity 1s ease;
	border-radius: 22px;
	margin: 20px 15px;
	padding: 30px;
	min-width: 375px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	grid-area: 1/8/4/12;
}
.recent-project:hover {
	opacity: 1;
}

.project-live {
	width: 390px;
	height: 250px;
	border-radius: 10px;
}

#name {
	font-family: "Nunito Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 900;
	color: #333333;
}

#role {
	font-family: "Nunito Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
}

#company {
	font-family: "Nunito Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-size: 26px;
}

#intro {
	font-family: "Nunito Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-size: 22px;
	text-align: justify;
	color: #333333;
}

.heading {
	font-family: "Nunito Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-size: 26px;
	text-align: justify;
	color: #333333;
}
.description {
	font-family: "Nunito Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-size: 16px;
	text-align: justify;
	color: #333333;
}

.number {
	font-size: 4rem;
	font-weight: 900;
	color: #333333;
}

.company-name {
	height: 50px;
	width: auto;
	align-self: center;
	margin: 5px;
}

.education-pg {
	background-color: #ffffff;
	opacity: 0.7;
	transition: opacity 1s ease;
	border-radius: 22px;
	margin: 20px 15px;
	padding: 30px;
	min-width: 375px;
	display: flex;
	flex-direction: row;
	gap: 80px;
	align-items: center;
	grid-area: 5/1/6/7;
}

.education-pg:hover {
	opacity: 1;
}

.education-ug {
	background-color: #ffffff;
	opacity: 0.7;
	transition: opacity 1s ease;
	border-radius: 22px;
	margin: 20px 15px;
	padding: 30px;
	min-width: 375px;
	display: flex;
	flex-direction: row;
	gap: 40px;
	align-items: center;
	grid-area: 5/7/6/12;
}

.education-ug:hover {
	opacity: 1;
}

.college-logo {
	height: 50px;
	width: 150px;
}

.college-logo-ug {
	height: 150px;
	width: 160px;
}

.degree {
	font-family: "Nunito Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 900;
	font-size: 20px;
	text-align: center;
}

.specialization {
	font-family: "Nunito Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-size: 18px;
}
@media (min-width: 319px) and (max-width: 480px) {

	.container {
		display: grid;
		grid-template-rows:
			1fr 1fr minmax(200px, 250px) minmax(200px, 250px) minmax(160px, auto)
			minmax(240px, 250px) 1fr minmax(180, 200) minmax(180, 200) 1fr 1fr;
		grid-template-columns: 1fr 1fr;
		background: linear-gradient(45deg, #6a1b9a, #1a1a4b);
		border-radius: 30px;
		min-width: 600px;
		margin: 10px;
	}
	.intro-container {
		grid-area: 1/1/3/3;
	}

	.item1 {
		grid-area: 3/1/4/2;
	}

	.item2 {
		grid-area: 3/2/4/3;
	}

	.item3 {
		grid-area: 4/1/5/2;
	}

	.item4 {
		grid-area: 4/2/5/3;
	}

	.item5 {
		grid-area: 5/1/6/3;
		display: flex;
		flex-direction: row;
		gap: 90px;
	}

	.recent-project {
		background-color: #ffffff;
		opacity: 0.7;
		transition: opacity 1s ease;
		border-radius: 22px;
		margin: 20px 15px;
		padding: 30px;
		min-width: 375px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-items: center;
		grid-area: 6/1/8/3;
	}

	.education-ug {
		grid-area: 9/1/10/3;
		flex-direction: row;

	}

	.education-pg {
		grid-area: 8/1/9/3;
		flex-direction: row;
	}

	.college-logo {
		height: 90px;
		width: 200px;
		order: -1;
	}

	.college-logo-ug {
		height: 100px;
		width: 200px;
		order: -1;
	}

	.mobile {
		display: none;
	}

	.degree {
		font-family: "Nunito Sans", sans-serif;
		font-optical-sizing: auto;
		font-weight: 900;
		font-size: 15px;
		text-align: center;
	}

	.specialization {
		font-family: "Nunito Sans", sans-serif;
		font-optical-sizing: auto;
		font-weight: 700;
		font-size: 14px;
	}
	.project-live {
		width: 520px;
		height: 300px;
		border-radius: 10px;
	}
}

@media (min-width: 481px) and (max-width: 1200px) {
	.container {
		display: grid;
		grid-template-rows:
			auto auto minmax(200px, 250px) minmax(200px, 250px) minmax(160px, 180px)
			minmax(240px, 250px) 1fr 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr auto auto 1fr;
		background: linear-gradient(45deg, #6a1b9a, #1a1a4b);
		border-radius: 30px;
		min-width: 1030px;
		margin: 10px;
	}
	.intro-container {
		grid-area: 1/1/4/2;
	}

	.item1 {
		grid-area: 1/2/2/3;
	}

	.item2 {
		grid-area: 1/3/2/4;
	}

	.item3 {
		grid-area: 2/2/3/3;
	}

	.item4 {
		grid-area: 2/3/3/4;
	}

	.item5 {
		grid-area: 3/2/4/4;
		display: flex;
		flex-direction: row;
		gap: 90px;
	}

	.recent-project {
		background-color: #ffffff;
		opacity: 0.7;
		transition: opacity 1s ease;
		border-radius: 22px;
		margin: 20px 15px;
		padding: 0 30px ;
		min-width: 375px;
		display: flex;
		flex-direction: row;
		gap: 50px;
		align-items: center;
		grid-area: 4/1/6/4;
	}

	.project-live {
		width: 500px;
		height: 300px;
		border-radius: 10px;
	}

	#tabMode {
		display: flex;
		flex-direction: column;
		flex-basis: 380px;
	}

	.tabHeading {
		position: relative;
		bottom: 30px;

	}


	.education-ug {
		grid-area: 6/2/8/4;
		flex-direction: column;
	}

	.education-pg {
		grid-area: 6/1/8/2;
		flex-direction: column;
		
	}

	.degree {
		font-size: 16px;
		order: 1;

	}

	.specialization {
		font-size: 14px;
	}

	.mobile {
		display: none;
	}

	.college-logo {
		position: relative;
		top: 40px;
	}
}
